# Git
.git
.gitignore

# Docker
.docker

# Python
portfoliomanager/__pycache__/
portfoliomanager/*/__pycache__/
portfoliomanager/*/*/__pycache__/
portfoliomanager/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/